ul{ list-style-type: none; }

.headerBox {
  font-size: 10px;
  margin-top: 0px;
  padding-top: 0.25px;
  display: inline-block;
  width: 100%;
  height: 3%
}

.postForm {
  align-self: center;
  align-content: center;
  margin-left: 40%;
  margin-right: 40%;
  align-items: center;
}

.postList {
  position: relative;
  cursor: pointer;
  display: inline;
  margin-left: 70%;
  text-decoration: none;
}
.postLi {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(200, 200, 200, 0);
  margin-top: -16px;
  text-decoration: none;
}.postLi:hover {
  cursor: default;
  text-decoration: none;
}
.postButton {
  color: white;
  font-size: 20px;
  margin-left: 5%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rebeccapurple;
}
.postButton:hover {
  text-decoration: none;
  background-color: rgb(60, 0, 170);
}

.paginationBox {
  margin-top: 25px;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin-left: -40px;
}
.paginationList {
  text-decoration: none;
  display: inline;
}
.paginationNumbers {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.paginationNumbers:hover {
  background-color: rgb(60, 0, 170);
  color: rgb(11, 255, 105);
  text-decoration: none;
}

.postBox {
  background-color: rgba(112, 112, 112, 0.274);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 500px;
  min-height: 500px;
  max-width: 1000px;
  min-width: 1000px;
  align-self: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#btnAll{
  font-weight: 500;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  color: white;
  width: 6%;
  background-color: rgba(195, 241, 255, 0.25);

}

.allBox {
  background-color: black;
  width: 100%;
  margin: auto;
  position: absolute;
  background: url("./img/purpleCave.jpg");
  height: 180%;
  background-position: center;
  background-size: cover;
}

.filterBox {
  align-items: center;
  text-align: center;
  align-content: center;
}

.imageTitle {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 100px;
  min-height: 100px;
  margin-bottom: 10px;
}
.brandTitle {
  font-size: 15px;
  margin-bottom: -2px;
}
.modelTitle {
  font-size: 25px;
  margin-bottom: -2px;
}
.colorTitle {
  font-size: 15px;
}

.listBox {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  align-content: center;
  min-height: 840px;
  max-height: 840px; 
  width: 50%;
}

.bundles {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255, 1);
  margin-top: 10px;
  width: 40%;
  position: relative;
  display: inline-block;
  border: solid 2px black;
  border-radius: 10px;
}

#inputButton {
  width: 6.5%;
  background-color:rgba(155, 255, 172, 0.2);
  color: white;
  transition: background-color 0.2s ease-out;
  transition: transform 0.2s ease-out;
  margin-bottom: 15px;
}

#inputButton:hover{
  background-color:rgba(138, 0, 180, 0.76);
  transform: scale(1.05);
}


#dropdown {
  border: solid 3px rgba(195, 0, 255, 0.11);
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  color: white;
  background-color: #0059ff46;
  font-size: 15px;
  border-radius: 15%;
  background-color: rgba(77, 1, 77, 0.233);
}

div.dropdown-menu\ show{
  background-color: rgba(0, 0, 0, 0);
  font-size: 50px;
}

.selection {
  align-content: center;
  border: solid 1px blue;
  border-radius: 10%;
  background: rgba(148, 255, 246, 0.144);;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  font-size: 2px;
  margin-top: 10px;
  margin-bottom: -5px;
}

#label {
  margin-top: -5px;
  font-weight: 500;
  display: inline-block;
  font-size: 40px;
  color: white;
}

.selectTitle {
  font-size: 20px;
  color: white;
}