ul{ list-style-type: none; }

.stylesBox {
  text-align: center;
}

.directBTN {
  background-color: white;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  margin-left: 5px;
  margin-right: 5px;
  border: solid 2px rgb(157, 150, 255);
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
  border-radius: 3px;
}

.directBTN:hover {
  background-color: rgb(188, 194, 255);
  transition-duration: 200ms;
}

.paging {
  height: 2px;
  width: 100%;
  margin-top: -65px;
}

.pgingEverything {
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: -7px;
}

.checkBrands {
  font-weight: 500;
  background-color: white;
  border: solid 1px rgb(184, 171, 255);
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -5px;
}

.checkBrands:hover {
  font-weight: 700;
  border: solid 1px rgb(75, 43, 255);
}

.filterBTN {
  border: solid 2px rgb(202, 185, 255);
  background-color: white;
  margin-top: -70px;
  padding-top: 350px;
  padding-bottom: 353px;
  margin-left: -9px;
}

.filterBTN:hover {
  background-color: rgb(202, 185, 255);
  border: solid 2px rgb(202, 185, 255);
}

@keyframes disco {
  from {color: black;}
  to {color: grey;}
}
.discover {
  font-size: 50px;
  display: inline;
  color: grey;
  animation-name: disco;
  animation-duration: 3.5s;
}
@keyframes wear {
  from {color: white;}
  to {color: black;}
}
.wearables {
  font-size: 50px;
  display: inline;
  color: black;
  animation-name: wear;
  animation-duration: 3.5s;
  font-weight: 600;
}

.homeBox {
  text-align: center;
  font-family: sans-serif;
}

.headerBox {
  font-size: 10px;
  margin-top: 0px;
  padding-top: 0.25px;
  display: inline-block;
  width: 100%;
  height: 3%;
}

.postForm {
  align-self: center;
  align-content: center;
  margin-left: 40%;
  margin-right: 40%;
  align-items: center;
}
.postList {
  position: relative;
  cursor: pointer;
  display: inline;
  margin-left: 70%;
  text-decoration: none;
}
.postLi {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(200, 200, 200, 0);
  margin-top: -16px;
  text-decoration: none;
}.postLi:hover {
  cursor: default;
  text-decoration: none;
}
.postButton {
  color: white;
  font-size: 20px;
  margin-left: 5%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rebeccapurple;
}
.postButton:hover {
  text-decoration: none;
  background-color: rgb(60, 0, 170);
}
.postBox {
  background-color: rgba(112, 112, 112, 0.274);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 500px;
  min-height: 500px;
  max-width: 1000px;
  min-width: 1000px;
  align-self: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.imageTitle {
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.158), 0 6px 20px 0 rgba(255, 0, 0, 0);
  height: 22vh;
  margin-top: 10px;
  margin-bottom: 16px;
}
.brandTitle {
  font-size: 1.25vw;
  font-weight: bold;
  margin-bottom: 5px;
}
.modelTitle {
  font-size: 1.5vw;
  margin-bottom: 5px;
  font-style: italic;
}
.colorTitle {
  font-size: 1vw;
}

.listBox {
  position: absolute;
  margin-top: -660px;
  background-color: rgb(255, 255, 255);
  margin-left: 11vw;
  align-items: center;
  text-align: center;
  align-content: center;
  height: 550px;
  width: 80%;
}

.bundles {
  margin-top: 10%;
  border: solid 1.5px rgb(172, 142, 255);
  margin: 3px;
  background-color: rgba(255, 255, 255, 0.055);
  width: 20vw;
  height: 39vh;
  display: inline-block;
  border-radius: 10px;
}

